<form style="padding: 5% 20% 10% 20%; " name="f1">
  <div class="container login-container">
  <div class="col-md-6 login-form-2 center">
    <h3>
      <img src="./assets/img/logo1.png" class="img-thumbnail center"  >
    </h3>
    <form style="padding-top: 2%; padding-left: 10%;">
        <div class="form-group">
            <input type="text" class="form-control" #email = "ngModel" [(ngModel)] = "usuario.email" id="email" name="email" placeholder="Your Email *" required />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" #senha = "ngModel" [(ngModel)] = "usuario.senha" id="senha" name="senha" placeholder="Your Password *" required />
        </div>
        <div class="form-group">
            <button type="submit" class="btnSubmit center" [disabled]="email.invalid || senha.invalid"  (click) ="testeLogin()"  >Login</button>
        </div>
        <div class="form-group  ">
          <button type="submit" class="btnSubmit center" [routerLink]="['cadastro']" >Cadastre-se</button>
      </div>
        <div class="form-group">

            <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
        </div>
    </form>
</div>
</div>

<!--https://bootsnipp.com/tags/login-->
</form>
