body{
  background-image: linear-gradient(to right bottom, #2e23ca, #4868d3, #3395d6, #11bcde, #7e6be9, #b06dee, #b465e2);
  height: 100%;
  margin:0;
}

.btn-group
{
  text-align: center;
  display: inline-block;
}

#escolha{

    display: flex;
    flex-direction: row;
    justify-content: center;
   align-items: center
}


.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
}
.ng-invalid:not(form){
  border-left: 5px solid #a94442;
}
#botaoMembro, #botaoPesquisador{ text-align: center }
