<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<app-home></app-home>

<body>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
  <div >
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <br>
  <!-- The Grid -->
  <div class="w3-row-padding center">

    <!-- Right Column <img *ngIf="usuario.fotoPerfil != null" [src]="usuario.fotoPerfil" class="img-thumbnail center" id="fotoPerfil" style="width:100%; height: 50%; padding-bottom: 0%;" alt="Avatar"> -->
    <div class="w3-onetwothird " *ngFor="let post of postagens">
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <a [routerLink] = "['perfil-amigo', post.autor.id]" *ngIf="post.autor.fotoPerfil === null"  class="navbar-brand"   style="float: left;"><img src="./assets/img/usuario.png"  class="rounded-circle  " style="width:50px"> <h6 class="w3-text-teal" >{{ post.autor.nome }}</h6></a>
        <a [routerLink] = "['perfil-amigo', post.autor.id]"  *ngIf="post.autor.fotoPerfil != null"  class="navbar-brand"  style="float: left;"><img [src]="post.autor.fotoPerfil" class="rounded-circle  " style="width:50px"> <h6 class="w3-text-teal">{{ post.autor.nome }}</h6></a>
        <h2 class="w3-text-grey w3-padding-16 center" >{{ post.titulo }}<i *ngIf="post.tipoPostagem != 'cientifica'" class="fa fa-bookmark-o" aria-hidden="true"></i><i *ngIf="post.tipoPostagem === 'cientifica'" class="fa fa-quote-right"></i></h2>

        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>{{ post.subtitulo }}</b>
          </h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i
            >{{ post.date }}
          </h6>
          <p>{{ post.conteudo }}</p>

          <div *ngIf="post.tipoPostagem === 'cientifica'">
            <p *ngIf="post.url != null || post.url != undefined">Disponível em: <a href="{{ post.url }}">{{ post.url }}</a></p>
            <img *ngIf="post.arquivoPublicacao != null || post.arquivoPublicacao != undefined" src="../../assets/img/pdfArq.svg" height="35px" width="35px" (click)="mandaPdf(post.arquivoPublicacao)"><a (click)="mandaPdf(post.arquivoPublicacao)"><i  *ngIf="post.arquivoPublicacao != null || post.arquivoPublicacao != undefined">{{ post.titulo }}.pdf</i></a>
            <div *ngIf="post.palavrasChave != null || post.palavrasChave != undefined">
              <p><i *ngFor="let tags of post.palavrasChave" style="color:black; font-size:12; font-family:Arial;">#{{tags}}  </i></p>
            </div>
          </div>

          <hr />
        </div>
        <i
        class="fa fa-heart-o like"
        aria-hidden="true"
        id="like"
        (click)="editPost(this.post.id, 'like')"
        ><p *ngIf="post.curtida != null">{{ post.curtida }}</p></i
      >
      <i class="fa fa-comments-o comment" aria-hidden="true"
        ><p *ngIf="post.curtida != null"></p
      ></i>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
</div>

</body>


