body {
  background-image: linear-gradient(to right top, #2e23ca, #4868d3, #3395d6, #11bcde, #7e6be9, #b06dee, #b465e2);
  height: 100%;
  margin:0;
}

/* Trick */
body{
  display:flex;
  flex-direction:column;
  height:50px;
}

footer{
  margin-top:auto;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


html, body {height:100%;}

.geral {
  min-height:100%;
  position:relative;
  width:800px;
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
}

.content {overflow:hidden;}
.aside {width:200px;}
.fleft {float:left;}
.fright {float:right;}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
