body {
  background-image: linear-gradient(to right top, #2e23ca, #4868d3, #3395d6, #11bcde, #7e6be9, #b06dee, #b465e2);
  height: 100%;
  margin:0;
}

/* Trick */
body{
  display:flex;
  flex-direction:column;
  height:50px;
}

footer{
  margin-top:auto;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


html, body {height:100%;}

.geral {
  min-height:100%;
  position:relative;
  width:800px;
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
}

.content {overflow:hidden;}
.aside {width:200px;}
.fleft {float:left;}
.fright {float:right;}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.like{
  float: left; font-size: 150%; padding-top: 0%; padding-bottom: 1%;
}


.comment{
  float: left; font-size: 160%; padding-top: 0%; padding-bottom: 1%; padding-left: 4%;
}

.icon-action-post{
  float: right; font-size: 150%; padding-top: 0.5cm;padding-right: 0.5;padding-right: 2.5%;
}
a:link {
  color: rgb(255, 255, 255);
}

/* visited link */
a:visited {
  color: rgb(50, 112, 204);
}

/* mouse over link */
a:hover {
  color: rgb(70, 162, 223);
}

/* selected link */
a:active {
  color: rgb(4, 238, 255);
}
