
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>



<app-home></app-home>


<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", sans-serif;
  }
</style>

<div class="body" style="padding-bottom: 0%; margin-bottom: 0px;">

  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width: 1400px;">
    <!-- The Grid -->
    <div class="w3-row-padding">
      <!-- Left Column -->
      <div class="w3-third">
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">

            <div style="padding-bottom: 10%;">
            <img *ngIf="usuario.fotoPerfil === null" src="../../assets/img/usuario.png" class="rounded-circle center" id="fotoPerfil" style="width:100%; height: 50%; padding-bottom: 5%;" alt="Avatar">
            <img *ngIf="usuario.fotoPerfil != null" [src]="usuario.fotoPerfil" class="rounded-circle center" id="fotoPerfil" style="width:100%; height: 50%; padding-bottom: 0%;" alt="Avatar">
           <!-- <span class="btn-file file-upload btn btn-primary">-->
              <!-- Escolha uma foto de perfil-->
           <!--  </span>-->
          </div>
           <button id="follow" style="float: left; margin-left: 2%;" type="button" class="btn btn-primary" (click)="updateUsuario()">Seguir</button>

            <div
              class="w3-display-bottomleft w3-container w3-text-black inline"
              style="padding-top: 20%;">

              <h2>{{ usuario.nome }}</h2>
            </div>
          </div>
          <div class="w3-container">
            <p class="w3-large">
              <b
                ><i
                  class="fa fa-user-o fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                >{{ usuario.tipoUsuario }}</b
              >
            </p>
            <p *ngIf="usuario.instituicao != null">
              <i
                class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"
              ></i
              >{{ usuario.instituicao }}
            </p>
            <p>
              <i
                class="fa fa-graduation-cap fa-fw w3-margin-right w3-large w3-text-teal"
              ></i
              >{{ usuario.escolaridade }}
            </p>
            <p *ngIf="usuario.estado != null">
              <i
                class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"
              ></i
              >{{ usuario.estado }}, {{ usuario.municipio }}
            </p>
            <p>
              <i
                class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"
              ></i
              >{{ usuario.email }}
            </p>
            <p *ngIf="usuario.linkCv != null">
              <i
                class="fa fa-quote-right fa-fw w3-margin-right w3-large w3-text-teal"
              ></i
              >{{ usuario.linkCv }}
            </p>
            <p *ngIf="usuario.linkCv != null">
              <i
                class="fa fa-book fa-fw w3-margin-right w3-large w3-text-teal"
              ></i
              >{{ usuario.dataInicio }}
            </p>
            <p>
              <i
                class="fa fa-address-card fa-fw w3-margin-right w3-large w3-text-teal"
              ></i
              >{{ usuario.dataNasc }}
            </p>

            <hr />

            <p class="w3-large w3-text-theme">
              <b
                ><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i
                >Status da conta</b
              >
            </p>

            <p>
              Seguidores:<b class="colorS">{{ usuario.seguidores }}</b>
            </p>
            <p>
              Seguindo:<b class="colorS">{{ usuario.seguindo }}</b>
            </p>
            <p>
              Posts:<b class="colorS">{{ usuario.posts }} </b>
            </p>
            <br />

            <p class="w3-large">
              <b
                ><i
                  class="fa fa-binoculars fa-fw w3-margin-right w3-text-teal"
                ></i></b
              ><b>Interesses</b>
            </p>


        <div class="input-group" style="margin-bottom: 10px;">
          <div class="input-group-prepend">
            <span class="input-group-text">Intereses<br>escolhidos</span>
          </div>
          <textarea  class="form-control" rows="5" aria-label="With textarea" ng-list="/\n/"  disabled > {{usuario.interesses}}</textarea>
        </div>

          </div>
        </div>
        <br />

        <!-- End Left Column -->
      </div>

      <!-- Right Column <option *ngFor="let m of Municipios" >{{m}}</option>-->
      <div class="w3-twothird " *ngFor="let post of postagens">
        <div class="w3-container w3-card w3-white w3-margin-bottom">

          <h2 class="w3-text-grey w3-padding-16">
            <i
              class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"
              style="float: left;"
            ></i
            >{{ post.titulo }}
          </h2>

          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>{{ post.subtitulo }}</b>
            </h5>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i
              >{{ post.date }}
            </h6>
            <p>{{ post.conteudo }}</p>

            <div *ngIf="post.tipoPostagem === 'cientifica'">

              <p *ngIf="post.url != null || post.url != undefined">Disponível em: <a href="{{ post.url }}">{{ post.url }}</a></p>
              <img *ngIf="post.arquivoPublicacao != null || post.arquivoPublicacao != undefined" src="../../assets/img/pdfArq.svg" height="35px" width="35px" (click)="mandaPdf(post.arquivoPublicacao)"><a (click)="mandaPdf(post.arquivoPublicacao)"><i  *ngIf="post.arquivoPublicacao != null || post.arquivoPublicacao != undefined">{{ post.titulo }}.pdf</i></a>
              <div *ngIf="post.palavrasChave != null || post.palavrasChave != undefined">
                <p><i *ngFor="let tags of post.palavrasChave" style="color:black; font-size:12; font-family:Arial;">#{{tags}}  </i></p>
              </div>
            </div>

            <hr />
          </div>
          <i
            class="fa fa-heart-o like"
            aria-hidden="true"
            id="like"
            (click)="editPost(this.post.id, 'like')"
            ><p *ngIf="post.curtida != null">{{ post.curtida }}</p></i
          >
          <i class="fa fa-comments-o comment" aria-hidden="true"
            ><p *ngIf="post.curtida != null"></p
          ></i>
        </div>
        <!-- End Right Column -->
      </div>

      <!-- End Grid -->
    </div>

</div>
<footer class="w3-container  w3-center " style="background-color: white;" >
<p>Datagram - A rede social para cientistas de dados.</p>
<i class="fa fa-facebook-official w3-hover-opacity"></i>
<i class="fa fa-instagram w3-hover-opacity"></i>
<i class="fa fa-snapchat w3-hover-opacity"></i>
<i class="fa fa-pinterest-p w3-hover-opacity"></i>
<i class="fa fa-twitter w3-hover-opacity"></i>
<i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>



