<nav class="navbar navbar-expand-lg navbar navbar-light bigBar" >
  <a class="navbar-brand" href="/feed"><img src="./assets/img/logo2.png" class="img-circle " style="width:50px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- pesquisa -->
  <form class="form-inline mx-auto">
    <input type="search" class="form-control mr-sm-2" [(ngModel)] = "usuario.nome" id="busca-usuario" name="busca-usuario" placeholder="Search" (click)="checkPage()" >
    <button class="btn btn-outline-light my-2 my-sm-0 search mx-auto" (click)="getUsuarioByNome(usuario.nome)" type="submit" data-toggle="modal"data-target="#pesquisa">
      <svg class="bi bi-search" width="2em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
      <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
    </svg></button>
  </form>

  <div class="collapse navbar-collapse jogaE" id="navbarColor02">
    <ul class="nav nav-pills nav-fill ">
      <li class="nav-item">
        <a class="nav-link" href="/feed"><svg class="bi bi-house-door" width="3em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"/>
          <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        </svg></a>
      </li>

      <!--criar post-->
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#add" (click)="getUsuarioLogado()" ><svg class="bi bi-plus-circle" width="3em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
          <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        </svg></a>
      </li>

      <li class="nav-item active">
       <a class="nav-link" data-toggle="modal" data-target="#notificacao" (click)="getNotificacao()" ><svg class="bi bi-bell" width="3em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
        <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
      </svg></a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
          <svg class="bi bi-person" width="3em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/></svg> </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="/perfil">Minha conta</a>
          <a class="dropdown-item" href="#" >Sair</a>
        </div>
      </li>
    </ul>

  </div>
</nav>


 <!-- Janela -->
 <form class="modal fade" id="add">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- cabecalho -->

      <div  *ngIf="usuarioLogado != undefined && usuarioLogado.tipoUsuario === 'Membro'" class="modal-header">
        <h4 class="modal-title center">Criar Postagem</h4>
        <button type="button" class="close" style="float: right; " data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <div *ngIf="usuarioLogado != undefined && usuarioLogado.tipoUsuario === 'Pesquisador'" class="modal-header">
        <h4 class="modal-title center" >Pesquisador! Escolha o tipo de postagem que deseja realizar!</h4>
        <button type="button" class="close" style="float: right; " data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <div *ngIf="usuarioLogado != undefined && usuarioLogado.tipoUsuario === 'Pesquisador'" style="padding: 1% 20% 0% 20%; " class="btn-group" id="escolha" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary center" style="width: 50%;" id="Simples" (click)="mudaTipo('simples')">Postagem simples</button>
        <button type="button" class="btn btn-secondary center" style="width: 50%;" id="Cientifica"  (click)="mudaTipo('cientifica')" >Publicação cientifica</button>
      </div>
      <!-- corpo -->
      <div class="modal-body">

        <div class="form-group">
          <input type="titulo" class="form-control"  #titulo = "ngModel" [(ngModel)] = "postagem.titulo" name="titulo" id="titulo" placeholder="Titulo">
        </div>


        <div class="form-group">
          <input type="subtitulo" class="form-control" #subtitulo = "ngModel" [(ngModel)] = "postagem.subtitulo" name="subtitulo" id="subtitulo" placeholder="subtitulo">
        </div>

        <div class="form-group">
          <textarea class="form-control" #conteudo = "ngModel" [(ngModel)] = "postagem.conteudo" name="conteudo" id="conteudo" rows="5" placeholder="digite o conteúdo de seu post.."></textarea>
    </div><!--  private Set<String> palavrasChave;-->

      <div style="display: none;" id="arquivoPesquisador">
          <input #arquivoPublicacao #arquivoPublicacao = "ngModel" [(ngModel)] = "postagem.arquivoPublicacao" type="file" name="arquivoPublicacao"  accept="pdf/*" accept=
          "application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
          text/plain, application/pdf, image/*" (change)="uploadArquivo($event)" multiple>
          <p> O formato do arquivo necessita ser .pdf</p>
          <div class="form-group">
            <input type="url" class="form-control"  #url = "ngModel" [(ngModel)] = "postagem.url" name="urlPesquisador"  placeholder="URL da publicação">
          </div>

          <form class="form-inline">
            <div class="form-group">
                <p>Adicione palavras-chave a sua publicação!</p>
                <select style="width: 50%; margin-right: 10px; margin-bottom: 10px; "
                  id="interesses"
                  class="form-control"
                  #usuarioInteresses="ngModel"
                  [(ngModel)]="palavraChaveEscolhida"
                  name="interesses"
                  required >
                  <option *ngFor="let i of interessesPossiveis" >{{i}}</option>
                </select>
                <button type="button" style="float: right; margin-bottom: 10px;" class="btn btn-info" (click) = "escolheInteresse()">Add</button>
            </div>
          </form>
          <div class="input-group" style="margin-bottom: 10px;">
            <div class="input-group-prepend">
              <span class="input-group-text">#</span>
            </div>
            <textarea  class="form-control" rows="1" aria-label="With textarea" ng-list="/\n/"  disabled > {{postagem.palavrasChave}}</textarea>
          </div>

      </div>

    </div>

    <div class="modal-footer">

        <button type="button" class="btn btn-default center" data-dismiss="modal">
          Cancelar
        </button>

        <button type="submit" class="btn btn-primary center" [disabled]="titulo.invalid || conteudo.invalid" (click)="publicarPost()" data-dismiss="modal">
          Publicar
        </button>

      </div>

    </div>
  </div>

</form>

 <!-- Janela -->
 <form class="modal fade" id="notificacao">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- cabecalho -->
      <div class="modal-header">
        <h4 class="modal-title " style="float:left; ">Notificações</h4>
        <button type="button" class="close" style="float: right; " data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <!-- corpo <a data-dismiss="modal" *ngIf="usuario.fotoPerfil != null" class="navbar-brand"  [routerLink]="[rotaPesquisa, usuario.id ]" style="float: left;"><img [src]="usuario.fotoPerfil" class="img-circle " style="width:50px" > <strong>{{usuario.nome}}</strong></a> -->
      <div class="modal-body">

        <div class="alert alert-info" role="alert" *ngFor="let not of notificacoes">
          <a data-dismiss="modal" [routerLink]="[rotaPesquisa, not.autor.id ]"> <img class="rounded-circle" *ngIf="not.autor.fotoPerfil != null" [src]="not.autor.fotoPerfil"  style="width:50px" ><strong *ngIf="notificacoes!==undefined" >{{not.autor.nome}} tem uma nova publicação: "{{not.titulo}}"</strong></a>
        </div>

      </div>

      <!-- rodape -->


    </div>
  </div>

</form>


 <!-- Janela -->
 <form class="modal fade" id="pesquisa">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- cabecalho -->
      <div class="modal-header">
        <h4 class="modal-title " style="float:left; ">Resultados da pesquisa</h4>
        <button type="button" class="close" style="float: right; " data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <p *ngIf="listaRetornoPesquisa === undefined" > Esta pesquisa não retornou resultados! </p>

      <!-- mostrando os resultados da pesquisa-->
      <!-- [routerLink]="['./perfil-amigo', usuario.id ]"-->

      <div class="modal-body">

          <div *ngFor="let usuario of listaRetornoPesquisa">
            <div class="w3-container w3-card w3-white w3-margin-bottom">
              <a data-dismiss="modal" *ngIf="usuario.fotoPerfil === null" class="navbar-brand" [routerLink]="[rotaPesquisa, usuario.id ]"  style="float: left;"><img src="./assets/img/usuario.png" class="rounded-circle " style="width:50px"  > <strong>{{usuario.nome}}</strong></a>
              <a data-dismiss="modal" *ngIf="usuario.fotoPerfil != null" class="navbar-brand"  [routerLink]="[rotaPesquisa, usuario.id ]" style="float: left;"><img [src]="usuario.fotoPerfil" class="rounded-circle " style="width:50px" > <strong>{{usuario.nome}}</strong></a>
            </div>
          </div>

      </div>

      <!-- rodape -->


    </div>
  </div>

</form>
